<h1>Authorizations#new <%= params[:type].titleize %></h1>
<p>Find me in app/views/authorizations/new.html.erb</p>

<p>
  Well, hello there!
</p>
<p>
  We're going to now talk to the GitHub API. Ready?
  <a href="https://github.com/login/oauth/authorize?scope=user:email,notifications&client_id=<%= Rails.application.secrets[:github_client_id] %>">Click here</a> to begin!</a>
</p>
<p>
  If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
</p>
